<template>
    <div class="scroll-down">
        <img src="@/assets/images/icons/scrolling_mousewheel.gif" alt="scrolling_mousewheel">
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.scroll-down {
    width: 100%;
    text-align: center;

    img {
        width: 30px;
    }
}
</style>