<template>
    <Hero />
    <Services />
</template>

<script>
import Hero from "@/components/home/Hero.vue";
import Services from "@/components/home/Services.vue";
export default {
    components: {
        Hero,
        Services,
    },
};
</script>