<template>
    <Hero />
    <Superiority />
    <OrderStep />
    <Plan />
    <Testimonial />
    <FAQ />
</template>

<script>
import Hero from "@/components/webdesign/Hero.vue";
import Superiority from "@/components/webdesign/Superiority.vue";
import OrderStep from "@/components/webdesign/OrderStep.vue";
import Plan from "@/components/webdesign/Plan.vue";
import Testimonial from "@/components/webdesign/Testimonial.vue";
import FAQ from "@/components/webdesign/FAQ.vue";
export default {
    components: {
        Hero,
        Superiority,
        OrderStep,
        Plan,
        Testimonial,
        FAQ,
    },
};
</script>

<style>
</style>