<template>
    <div class="faq">
        <div class="faq-background first-bg"></div>
        <div class="faq-background second-bg"></div>
        <div class="container">
            <div class="content-heading text-center">
                <span class="title">Frequently Asked Question</span>
                <span class="subtitle">Berikut adalah beberapa pertanyaan yang paling sering ditanyakan</span>
            </div>

            <div class="wrapper col-md-9 m-auto">
                <div class="accordion">
                    <div class="accordion-item" v-for="(faq, index) in faqs.webDesign" :key="faq.title">
                        <h2 class="accordion-header" :id="`panelsStayOpen-heading-${index+1}`">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" :data-bs-target="`#panelsStayOpen-collapse-${index+1}`" aria-expanded="true" :aria-controls="`panelsStayOpen-collapse-${index+1}`">
                                {{ faq.question }}
                            </button>
                        </h2>
                        <div :id="`panelsStayOpen-collapse-${index+1}`" class="accordion-collapse collapse" :class="{'show': index == 0}" :aria-labelledby="`panelsStayOpen-heading-${index+1}`">
                            <div class="accordion-body">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import faqs from "@/data/faqs";
export default {
    data() {
        return {
            faqs,
        };
    },
};
</script>

<style lang="scss" scoped>
.faq {
    margin: 50px 0;
    // background: url("@/assets/images/arts/background5.png");
    // background-size: cover !important;
    // background-position: center center !important;
    // background-repeat: no-repeat !important;
    position: relative;
    overflow: hidden;

    .faq-background {
        background-size: contain !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        position: absolute;
        width: 35%;
        height: 300px;
    }
    .first-bg {
        background: url("@/assets/images/arts/background2.png");
        left: -5%;
    }
    .second-bg {
        background: url("@/assets/images/arts/background3.png");
        right: -5%;
    }
    .accordion-item {
        background: none;
        border: none !important;

        .accordion-header {
            background: none;
            .accordion-button {
                color: black;
                background: none;

                &:not(.collapsed) {
                    box-shadow: none;

                    // &::after {
                    //     background: none;
                    // }
                }

                // &::after {
                //     background: none;
                // }
            }
        }
        .accordion-collapse {
            background: none;

            .accordion-body {
                color: grey;
                // font-weight: 100 !important;
            }
        }
    }
}
</style>