<template>
    <div class="hero">
        <div class="rounded-gradient"></div>
        <div class="container d-flex justify-content-center">
            <div class="hero-icons">
                <img v-for="index in 8" :key="index" :src="`${getImgUrl(`programming/${index}.png`)}`" alt="programming" :class="`programming-${index}`">
            </div>
            <div class="text">
                <span class="typed"></span>
                <h2>
                    Website kamu akan mendunia <br>
                    dalam<span>&nbsp;48 Jam &nbsp;</span>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit nesciunt deserunt iste beatae eaque debitis saepe quo sint voluptatem illo rerum voluptate consequatur.</p>
                <a href="" class="btn me-2 outline-yellow">Tanya-Tanya Dulu</a>
                <a href="#plan" class="btn bg-yellow-gradient">Order Sekarang</a>
            </div>
        </div>

        <ScrollDown />
    </div>
</template>

<script>
import Typed from "typed.js";
import Mixins from "@/mixins";
import ScrollDown from "@/components/layouts/ScrollDown.vue";

export default {
    mixins: [Mixins],
    mounted() {
        const options = {
            strings: [
                "A New Different Way to Explore A New World|",
                "Simple & Clear Will Make You Understand Clear",
            ],
            smartBackspace: true,
            typeSpeed: 50,
            backSpeed: 30,
            loop: true,
            startDelay: 1000,
        };

        new Typed(".typed", options);
    },
    components: {
        ScrollDown,
    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/sass/variables.scss";
// .programming
.hero {
    padding: 80px 0 0 0;
    .scroll-down {
        margin-top: 120px;
    }
    .rounded-gradient {
        width: 90%;
        height: 700px;
        top: -150px;
        left: -550px;
        position: absolute;
        background: rgb(255, 241, 197);
        background: radial-gradient(
            circle,
            rgba(255, 241, 197, 1) 0%,
            rgba(250, 250, 250, 1) 37%
        );
        z-index: -1;
    }
    .hero-icons {
        img {
            width: 50px;
            position: absolute;

            @for $i from 1 through 8 {
                &:nth-child(#{$i}) {
                    animation: flying
                        2s
                        cubic-bezier(0.45, 0, 0.55, 1)
                        infinite
                        alternate;
                    animation-delay: calc(0.5s * #{$i});
                }
            }
        }
        .programming-1 {
            left: 18%;
            top: 220px;
            width: 50px;
        }
        .programming-2 {
            left: 10%;
            top: 100px;
        }
        .programming-3 {
            left: 19%;
            top: 450px;
            width: 40px;
        }
        .programming-4 {
            left: 5%;
            top: 320px;
        }
        .programming-5 {
            right: 9%;
            top: 390px;
            width: 35px;
        }
        .programming-6 {
            right: 5%;
            top: 220px;
            width: 50px;
        }
        .programming-7 {
            right: 20%;
            top: 250px;
            width: 70px;
        }
        .programming-8 {
            right: 15%;
            top: 100px;
            width: 70px;
        }
    }

    .text {
        width: 70%;
        text-align: center;
        .typed {
            font-size: 23px;
            color: $red !important;
        }
        h2 {
            font-size: 50px;
            margin: 5px 0 25px 0;
            font-weight: bold;
            span {
                background: url("@/assets/images/arts/paint.png") center
                    no-repeat;
                background-size: cover;
            }
        }
        p {
            font-size: 23px;
            margin-bottom: 40px;
        }
        a {
            padding: 10px 20px;
            font-weight: bold;
        }
    }
}
</style>