<template>
    <div class="order-step">
        <BoxCircle class="box-circle" />
        <div class="container">
            <div class="row">
                <div class="col-md-4 left">
                    <img src="@/assets/images/arts/double-rounded.png" alt="arts" class="art-1">
                    <img src="@/assets/images/webdesign/step.png" alt="images" class="w-100">
                </div>
                <div class="col-md-8 right">
                    <div class="content-heading text-center">
                        <span class="title">Best Plan For Business</span>
                        <span class="subtitle">Cost Effective, Full Service, High Security</span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 step">
                            <div class="row">
                                <div class="col-4 image">
                                    <img src="@/assets/images/services/joki-tugas.png" alt="image" class="w-100">
                                </div>
                                <div class="col-8 text">
                                    <span class="title">Pesan Website</span>
                                    <span class="subtitle">Kirimkan konten / materi website yang telah disusun kepada tim kami.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 step">
                            <div class="row">
                                <div class="col-4 image">
                                    <img src="@/assets/images/services/joki-tugas.png" alt="image" class="w-100">
                                </div>
                                <div class="col-8 text">
                                    <span class="title">Perencanaan Website</span>
                                    <span class="subtitle">Kirimkan konten / materi website yang telah disusun kepada tim kami.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 step">
                            <div class="row">
                                <div class="col-4 image">
                                    <img src="@/assets/images/services/joki-tugas.png" alt="image" class="w-100">
                                </div>
                                <div class="col-8 text">
                                    <span class="title">Kirim Konten Referensi</span>
                                    <span class="subtitle">Kirimkan konten / materi website yang telah disusun kepada tim kami.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 step">
                            <div class="row">
                                <div class="col-4 image">
                                    <img src="@/assets/images/services/joki-tugas.png" alt="image" class="w-100">
                                </div>
                                <div class="col-8 text">
                                    <span class="title">Pengerjaan Website</span>
                                    <span class="subtitle">Kirimkan konten / materi website yang telah disusun kepada tim kami.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BoxCircle from "@/components/arts/BoxCircle.vue";
export default {
    components: {
        BoxCircle,
    },
};
</script>

<style lang="scss" scoped>
.order-step {
    position: relative;
    overflow: hidden;
    margin: 50px 0;
    .box-circle {
        position: absolute;
        top: 25%;
        right: -8%;
        opacity: 0.2;
        transform: rotate(280deg) !important;
        z-index: 1000 !important;
    }
    .left {
        img {
            z-index: 1000;
        }
        .art-1 {
            width: 20%;
            position: absolute;
            transform: rotate(30deg);
            top: 35%;
            opacity: 0.3;
            z-index: 999 !important;
            display: none;
        }
    }
    .right {
        .step {
            margin-bottom: 15px;
            .image {
            }
            .text {
                span {
                    display: block;
                }
                .title {
                    font-size: 17px;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                .subtitle {
                    font-size: 15px;
                }
            }
        }
    }
}
</style>