<template>
    <div class="plan" id="plan">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    <div class="content-heading">
                        <span class="title">Harga Paket Web Desain</span>
                        <span class="subtitle">Hemat Biaya, Harga Merakyat, Desain Memuaskan</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="option">
                        <div class="row">
                            <div class="col-6" style="background: #fafafa;">Sekali Bayar</div>
                            <div class="col-6 text-secondary">Sewa Perbulan</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 item" v-for="(plan, index) in plans.oneTime" :key="plan.title">
                    <div class="col-md-12 item-content" :class="{'popular': index == 1}">
                        <div class="header">
                            <div class="type">
                                <div class="row align-items-center">
                                    <div class="col-4 image">
                                        <!-- <img :src="`${getImgUrl(`plans/${index+1}.png`)}`" alt="image"> -->
                                        <img :src="`${getImgUrl(`plans/1.png`)}`" alt="image">
                                    </div>
                                    <div class="col-8 text">
                                        <span class="title">{{ plan.title }}</span>
                                        <span class="subtitle">{{ plan.description }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-4 price">
                                        <strike v-if="plan.oldPrice != null" class="old text-red"><sup>Rp</sup>{{ plan.oldPrice }}</strike>
                                        <span class="curr"><sup>Rp</sup>{{ plan.currPrice }}</span>
                                    </div>
                                    <div class="col-7 desc">
                                        Sekali bayar dan tidak termasuk maintenance *
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn order-btn">Pesan Sekarang</a>
                        </div>
                        <div class="features">
                            <ul>
                                <li v-for="feature in plan.features" :key="feature"><i class="uil uil-check me-1"></i>{{ feature }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import plans from "@/data/plans";
import Mixins from "@/mixins";
export default {
    mixins: [Mixins],
    data() {
        return {
            plans,
        };
    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/sass/variables.scss";
.plan {
    margin: 50px 0;
    .option {
        margin-bottom: 20px;
        background: white;
        padding: 10px 20px;
        border-radius: 10px;
        .col-6 {
            text-align: center;
            padding: 7px;
            border-radius: 10px;
        }
    }
    .item {
        .item-content {
            padding: 20px 20px 5px 20px;
            border-radius: 20px;
            background: white;
            position: relative;
            .header {
                .type {
                    margin-bottom: 10px;
                    .image {
                        img {
                            width: 100%;
                        }
                    }
                    .text {
                        span {
                            display: block;
                        }
                        .title {
                            font-size: 17px;
                            font-weight: bold;
                            text-transform: uppercase;
                            margin-bottom: 5px;
                        }
                        .subtitle {
                            font-size: 14px;
                        }
                    }
                }
                .pricing {
                    display: flex;
                    min-height: 70px;
                    .price {
                        font-size: 20px;
                        strike,
                        span {
                            display: block;
                        }
                        strike {
                            font-size: 17px;
                        }
                    }
                    .desc {
                        font-size: 11px;
                        color: grey;
                    }
                }

                .order-btn {
                    width: 100%;
                    background: rgb(84, 224, 106);
                    background: linear-gradient(
                        32deg,
                        rgba(84, 224, 106, 1) 48%,
                        rgba(19, 199, 47, 1) 100%
                    );
                    margin: 10px 0;
                    color: white;
                    border: none;
                }
            }

            .features {
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        padding: 10px 0;
                        // border-bottom: 1px solid #d2d4d2;
                        font-size: 15px;
                        i {
                            color: $green;
                        }

                        // &:last-child {
                        //     border: 0;
                        // }
                    }
                }
            }
        }
        .popular {
            margin-top: -10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background-color: #ffdee9;
            background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);

            .order-btn {
                // background-color: #8ec5fc !important;
                // background-image: linear-gradient(
                //     62deg,
                //     #8ec5fc 0%,
                //     #e0c3fc 100%
                // ) !important;
                background-color: #ff9a8b !important;
                background-image: linear-gradient(
                    90deg,
                    #ff9a8b 0%,
                    #ff6a88 55%,
                    #ff99ac 100%
                ) !important;
            }
        }
    }
}
</style>