<template>
    <div class="superiorities">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left">
                    <span class="slogan text-yellow">Kenapa pilih kami?</span>
                    <span class="title">We Have The Best Team Of Marketing<b> Experts &nbsp;</b></span>
                    <span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elitum necessitatibus mollitia recusandae deserunt minima quidem modi.</span>
                </div>
                <div class="col-md-6 right">
                    <div class="row justify-content-center">
                        <div class="col-md-4" v-for="(superiority, index) in superiorities.webDesign" :key="superiority.title">
                            <div class="col-md-12 superiority" :style="superiority.style">
                                <div class="image">
                                    <img :src="`${getImgUrl(`webdesign/reason-icon/${index+1}.png`)}`" :alt="superiority.title" :class="`img-${index+1}`">
                                </div>
                                <span class="title">{{ superiority.title }}</span>
                                <span class="desc">{{ superiority.desc }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import superiorities from "@/data/superiorities";
import Mixins from "@/mixins";
export default {
    mixins: [Mixins],
    data() {
        return {
            superiorities,
        };
    },
};
</script>

<style lang="scss" scoped>
.superiorities {
    padding: 50px 0;
    background: url("@/assets/images/arts/background1.png");
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    .left {
        span {
            display: block;
        }
        .slogan {
            font-size: 20px;
        }
        .title {
            font-size: 40px;
            line-height: 50px;
            margin: 10px 0 20px 0;
            font-weight: bold;

            b {
                background: url("@/assets/images/arts/paint.png") center
                    no-repeat;
                background-size: cover;
            }
        }
        .subtitle {
            font-size: 20px;
        }
    }

    .right {
        .superiority {
            padding: 15px;
            border-radius: 20px;
            margin-bottom: 20px;
            // background: url("@/assets/images/webdesign/reason-icon/background2.png");
            // background-size: cover !important;
            // background-position: center center !important;
            // background-repeat: no-repeat !important;
            text-align: center;

            .image {
                min-height: 115px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 80%;
                }
                .img-2,
                .img-3 {
                    width: 95%;
                }
                .img-5 {
                    width: 65%;
                }
            }
            span {
                display: block;
            }
            .title {
                font-size: 17px;
                font-weight: bold;
                margin: 10px 0 5px 0;
            }
            .desc {
                font-size: 15px;
            }
        }
    }
}
</style>