<template>
    <div class="testimonial">
        <swiper :loop="true" :grabCursor="true" :slidesPerView="4" :spaceBetween="20" :centeredSlides="true" :pagination="{
        clickable: true,}" :modules="modules" class="testimonial-swiper">
            <swiper-slide v-for="testimonial in testimonials.webDesign" :key="testimonial.name">
                <div class="row align-items-center">
                    <div class="col-12 rating">
                        <i class="bx bxs-star" v-for="index in testimonial.rating" :key="index"></i>
                        <template v-if="testimonial.rating != 5">
                            <i class="bx bx-star" v-for="index in 5 - testimonial.rating" :key="index"></i>
                        </template>
                        <span class="total">
                            ({{ testimonial.rating }} {{ testimonial.rating == '1' ? 'star' : 'stars' }})
                        </span>
                    </div>
                    <div class="col-12 caption">
                        "{{ testimonial.caption }}"
                    </div>
                    <div class="col-10 name">
                        ~ {{ testimonial.name }}
                    </div>
                    <div class="col-2 picture">
                        <img src="@/assets/images/testimonials/ndarudev.png" alt="ndaru">
                    </div>
                </div>
            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
import testimonials from "@/data/testimonials";
// Swiper Components
import { Swiper, SwiperSlide } from "swiper/vue";

// Swiper Styles
import "swiper/css";
import "swiper/css/pagination";

// Required Modules
import { Pagination } from "swiper";

export default {
    components: {
        Swiper,
        SwiperSlide,
    },
    setup() {
        return {
            testimonials,
            modules: [Pagination],
        };
    },
};
</script>

<style lang="scss">
@import "@/assets/sass/variables";
.testimonial {
    .testimonial-swiper {
        padding: 20px 0 50px 0;
        .swiper-wrapper {
            .swiper-slide-active {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                margin-top: -20px;
                transition: 0.5s;
            }
            .swiper-slide {
                background: white;
                border-radius: 20px;
                padding: 20px;
                .rating {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    margin-bottom: 5px;
                    color: $yellow;

                    .total {
                        color: grey;
                        margin-left: 5px;
                        font-size: 15px;
                    }
                }
                .picture {
                    img {
                        width: 100%;
                        border-radius: 100%;
                    }
                }
                .name {
                    font-size: 17px;
                    color: grey;
                }
                .caption {
                    font-size: 15px;
                    font-style: italic;
                    min-height: 100px;
                }
            }
        }
    }
}
</style>
    