<template>
    <div class="hero">
        <div class="container">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
                <div class="col-md-6 text">
                    <div class="arts">
                        <BoxCircle class="box-circle" />
                        <img src="@/assets/images/arts/donuts.png" alt="donut" class="art-1">
                        <img src="@/assets/images/arts/glow.png" alt="donut" class="art-2">
                        <img src="@/assets/images/arts/donut-dots.png" alt="donut" class="art-3">
                    </div>
                    <span class="typed"></span>
                    <h1>Pembuatan Jasa Digital dan Joki<span> Millenial &nbsp;</span></h1>
                    <p>Kami menyediakan jasa digital untuk membantu anda membuat website, poster, mockup, logo hingga joki tugas maupun game</p>

                    <div class="benefit">
                        <span class="me-2"><i class="uil uil-check-circle me-1"></i>Harga Terjangkau</span>
                        <span><i class="uil uil-check-circle me-1"></i>Kualitas Terbaik</span>
                    </div>

                    <router-link to="#" class="btn bg-outline-green shadow-sm">
                        Yuk Liat-Liat
                    </router-link>
                    <router-link to="#" class="btn">
                        <img src="@/assets/images/icons/headset.png" alt="headset" width="40" class="shadow rounded-circle">
                        Hubungi Kami
                    </router-link>
                </div>
                <div class="col-md-6 image">
                    <img src="@/assets/images/hero.png" alt="image">
                    <div v-for="index in 5" :key="index" class="programming shadow" :class="`programming-${index}`">
                        <img :src="`${getImgUrl(`programming/${index}.png`)}`" alt="programming">
                    </div>
                </div>
            </div>

            <ScrollDown />
        </div>
    </div>
</template>

<script>
import Typed from "typed.js";
import Mixins from "@/mixins";
import BoxCircle from "@/components/arts/BoxCircle.vue";
import ScrollDown from "@/components/layouts/ScrollDown.vue";

export default {
    mixins: [Mixins],
    mounted() {
        const options = {
            strings: [
                "A New Different Way to Explore A New World|",
                "Simple & Clear Will Make You Understand Clear",
            ],
            smartBackspace: true,
            typeSpeed: 50,
            backSpeed: 30,
            loop: true,
            startDelay: 1000,
        };

        new Typed(".typed", options);
    },
    components: {
        BoxCircle,
        ScrollDown,
    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/sass/variables.scss";
.hero {
    .scroll-down {
        margin-top: -50px;
    }
    .text {
        position: relative;
        .arts {
            img {
                position: absolute;
                width: 50px;
            }
            .art-1 {
                top: -120px;
                left: 0;
            }
            .art-2 {
                bottom: 0;
                right: 10%;
            }
            .art-3 {
                top: -70px;
                right: 40%;
            }
            .box-circle {
                position: absolute;
                top: 40%;
                left: -35%;
                opacity: 0.2;
            }
        }
        .typed {
            font-size: 20px;
            color: $red !important;
        }
        h1 {
            font-size: 50px;
            margin-bottom: 20px;
            font-weight: bold;
            span {
                background: url("@/assets/images/arts/paint.png") center
                    no-repeat;
                background-size: cover;
            }
        }
        p {
            font-size: 18px;
            margin: 0;
            color: grey;
        }
        .benefit {
            margin: 20px 0;
            font-size: 18px;
            color: $green;
        }
        a {
            font-size: 17px;
            padding: 10px 20px;
        }
    }
    .image {
        position: relative;
        img {
            width: 100%;
        }

        .programming {
            position: absolute;
            border-radius: 10px;
            background: $white;
            padding: 10px;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    animation: sky calc(8s * #{$i}) ease-in-out infinite;
                }
            }

            img {
                width: 50px;
            }
        }
        .programming-1 {
            top: 120px;
            left: 0;
            // animation: sky 14s ease-in-out infinite;
        }
        .programming-2 {
            bottom: 150px;
            left: 40px;
            // animation: sky 15s ease-out infinite;
        }
        .programming-3 {
            top: 20px;
            right: 120px;
            // animation: sky 18s linear infinite;

            img {
                width: 40px;
            }
        }
        .programming-4 {
            bottom: 100px;
            right: 100px;
            // animation: sky 17s ease-out infinite;
        }
        .programming-5 {
            top: 40%;
            right: 50px;
            // animation: sky 15s ease-in-out infinite;

            img {
                width: 30px;
            }
        }
    }
}
</style>