<template>
    <!-- <h1 style="color: rgb(46, 204, 113, 0.2)">Hello World</h1> -->
    <div class="services">
        <div class="container">
            <div class="content-heading text-center">
                <span class="title">Best Plan For Business</span>
                <span class="subtitle">Cost Effective, Full Service, High Security</span>
            </div>
            <div class="row">
                <div class="col-md-3 col-2">
                    <div class="col-md-12 service">
                        <div class="image">
                            <img src="@/assets/images/services/web-design.png" alt="web-design">
                        </div>
                        <span class="title">Jasa Desain Web</span>
                        <span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit recusandae enim accusamus sapiente.</span>
                        <router-link to="/webdesign" class="btn">Lihat Selengkapnya</router-link>
                    </div>
                </div>
                <div class="col-md-3 col-2">
                    <div class="col-md-12 service">
                        <div class="image">
                            <img src="@/assets/images/services/graphic-design.png" alt="graphic-design">
                        </div>
                        <span class="title">Jasa Desain Grafis</span>
                        <span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit recusandae enim accusamus sapiente.</span>
                        <router-link to="#" class="btn">Lihat Selengkapnya</router-link>
                    </div>
                </div>
                <div class="col-md-3 col-2">
                    <div class="col-md-12 service">
                        <div class="image">
                            <img src="@/assets/images/services/joki-tugas.png" alt="joki-tugas">
                        </div>
                        <span class="title">Joki Tugas</span>
                        <span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit recusandae enim accusamus sapiente.</span>
                        <router-link to="#" class="btn">Lihat Selengkapnya</router-link>
                    </div>
                </div>
                <div class="col-md-3 col-2">
                    <div class="col-md-12 service">
                        <div class="image">
                            <img src="@/assets/images/services/joki-game.png" alt="joki-game">
                        </div>
                        <span class="title">Joki Game</span>
                        <span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit recusandae enim accusamus sapiente.</span>
                        <router-link to="#" class="btn">Lihat Selengkapnya</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.services {
    padding: 50px 0;
    .service {
        background: white;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 170px;
            img {
                width: 50%;
                margin-top: 10px;
            }
        }
        span,
        a {
            display: block;
        }
        .title {
            font-size: 19px;
            font-weight: bold;
            margin: 10px 0;
        }
        .subtitle {
            font-size: 17px;
            color: grey;
        }
        a {
            margin-top: 30px;
            font-size: 17px;
        }
    }
}
</style>