<template>
    <!-- NAVBAR -->
    <Navbar />

    <!-- ROUTER VIEW -->
    <router-view></router-view>
</template>

<script>
import Navbar from "@/components/layouts/Navbar.vue";
export default {
    components: { Navbar },
};
</script>

<style lang="scss">
@import "@/assets/sass/app.scss";
</style>