$green: #2ecc71;
$red: #E16259;
$white: white;
$yellow: #F9B23B;
$blue: #066AC9;
$lightBlue: #34495e;

// TEXT
.text-green{
    color: $green !important;
}
.text-red{
    color: $red !important;
}
.text-yellow{
    color: $yellow !important;
}

// BACKGROUND
.bg-blue{
    background-color: $blue;
    color: $white !important;
}
.bg-green{
    background-color: $green;
    color: $white !important;
}
.bg-red{
    background-color: $red;
    color: $white !important;
}
.bg-yellow{
    background-color: $yellow;
    color: $white !important;
}

// GRADIENT BACKGROUND
.bg-yellow-gradient{
    background: rgb(249,217,118);
    background: linear-gradient(143deg, rgba(249,217,118,1) 38%, rgba(249,178,59,1) 100%);
}
.bg-green-gradient{
    background: rgb(167,212,173);
    background: linear-gradient(143deg, rgba(167,212,173,1) 33%, rgba(46,204,113,1) 100%);
}

// TRANSAPARENT BACKGROUND
.bg-outline-blue{
    background: rgb(6, 106, 201, 0.2);
    color: $blue !important
}
.bg-outline-green{
    background: #deffe8;
    color: $green !important;
}

// OUTLINE
.outline-yellow{
    border: 1px solid $yellow !important;
    color: $yellow !important;
}
.outline-green{
    border: 1px solid $green !important;
    color: $green !important;
}

// TEXT
.text-lightBlue{
    color: $lightBlue !important;
}

// ANIMATION
@keyframes sky {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, 20px);
    }

    50% {
        transform: translate(20px, 0);
    }

    75% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes flying {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}