@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif;
}

body{
    background: #FAFAFA !important;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #666;
}

::-webkit-scrollbar-thumb {
    background: #232323;
}

// BAHAN
.break {
    clear: both;
}

.form-group {
    margin-bottom: 20px;
}

.content-heading {
    margin-bottom: 20px;
    span {
        display: block;
    }
    .title {
        font-size: 25px;
        font-weight: bold;
    }
    .subtitle {
        font-size: 20px;
    }
}

// CURSOR
.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}

// ROUTER VIEW ANIMATION
.route-enter-from {
    opacity: 0;
}

.route-enter-active {
    transition: all 0.3s ease-out;
}

.route-leave-to {
    opacity: 0;
}

.route-leave-active {
    transition: all 0.3s ease-in;
}

/* RESET TO DEFAULT */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
a:hover
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}